.hero {
    max-width: 800px;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--spacing-xlarge);

    min-height: max(100vh, 500px);

}

@keyframes appear-from-left {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-and-scale {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-from-above {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-from-right {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
    }
}

.hero-img-container {
    position:relative;
    border-radius: 50%;
    min-width: 300px;

    opacity: 0;
    animation: appear-and-scale .3s 1s ease-in-out forwards;
}

.hero-img {
    display: block;
    width: 100%;
    border-radius: 50%;

    transition: rotate var(--transition-time);
    backface-visibility: hidden;
}

.villain-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    border-radius: 50%;

    transition: rotate var(--transition-time);
    backface-visibility: hidden;

    rotate: y -180deg;

}

.hero-img-container:hover .hero-img {
    rotate: y 180deg;
}

.hero-img-container:hover .villain-img {
    rotate: y 0deg;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-common);
}

.hero-title {
    line-height: 1.2;
    font-size: 2.7rem;
    opacity: 0;
    animation: appear-from-above .3s .3s ease-in-out forwards;
}

.wave-hand {
    display: inline-block;
    transform-origin: 65% 75%;
    cursor: default;
    animation: wave .9s ease-in-out infinite paused;
}

.hero-title:hover .wave-hand {
    animation-play-state: running;
}

@keyframes wave {
    50% {
        rotate: 30deg;
    }
}

.hero-info {
    margin-top: calc(0px - var(--spacing-low));
    /* padding-left: var(--spacing-common); */
    gap: var(--spacing-common);
    display:flex;
    align-items: center;
    color:var(--color-secondary);
    opacity: 0;
    animation: appear-from-above .3s .3s ease-in-out forwards; 
}

.hero-subtext {
    font-size: 1.1rem;
    color: var(--color-main);
    opacity: 0;
    animation: appear-from-right .3s .5s ease-in-out forwards;
}

.hero-detail:hover {
    color: var(--color-draw);
    cursor: default;
}

.hero-ctas {
    margin-top: var(--spacing-common);
    display: flex;
    gap: var(--spacing-common);
    flex-wrap: wrap;
    opacity: 0;
    animation: appear-from-right .3s .7s ease-in-out forwards;
}

.hero-cta {
    display: flex;
    align-items: center;
    height: 2em;
    font-size: 1.2rem;

    border-radius: 4px;
    padding-block: var(--spacing-low);
    padding-inline: var(--spacing-common);

    text-decoration: none;
}

.hero-cta.animated-underline::after {
    height: 1px;
    bottom: calc( 1.5 * var(--spacing-low));
    right: var(--spacing-common);
}

.hero-cta.animated-underline:hover::after {
    /* height: 2px; */
    left: var(--spacing-common);
    width: calc(100% - 2 * var(--spacing-common));
}

.hero-cta.animated-underline.primary::after {
    background-color: var(--color-draw-light);
}

.hero-cta.animated-underline.hero-cta.secondary::after {
    background-color: var(--color-draw);
}

.hero-cta.primary {
    color: var(--color-draw-light);
    background-color: var(--color-draw);
    font-weight: bold;
    border: solid 1px var(--color-draw);
}

.hero-cta.secondary {
    color: var(--color-draw);
    background-color: var(--color-draw-light);
    font-weight: 600;
    border: solid 1px;
}

@media screen and (max-width: 1024px) {
    .hero-img-container {
        min-width: 250px;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        flex-direction: column;
        padding-top: calc(2 * var(--spacing-large));
        padding-bottom: var(--spacing-xlarge);
        padding-inline: var(--spacing-large);
    }

    .hero-img-container {
        max-width: 300px;
    }

    .hero-img-container, .hero-title, .hero-info, .hero-subtext, .hero-ctas {
        animation-name: appear-from-left;
    }

    .hero-img-container {
        animation-delay: .1s;
    }
}

@media screen and (max-width: 480px) {
    .hero-cta.animated-underline::after {
        display: none;
    }
}