.landing {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: var(--spacing-large);
    padding-block: calc(var(--spacing-large) * 2);

    max-width: 1600px;
    margin:auto;
}

.home-img {
    width: 35%;
}

.landing h3 {
    color: var(--color-strong)
}

.landing-buttons {
    display: flex;
    gap: var(--spacing-common);
    margin-top: var(--spacing-common);
}


.landing-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
    width: 60%;
}

@media screen and (max-width: 800px) {
    .home-img {
        display: none;
    }
    .landing-text {
        width: auto;
    }
}