.project-icon {
    display: flex;
    width: 3em;
    height: 3em;

    justify-content: center;
    align-items: center;

    border: solid 1px var(--color-secondary);
    transition: var(--transition-time-button) ease-in-out;
    transition-property: background-color, border-color;
}

.project-icon i {
    color: var(--color-main);
    font-size: 2rem;
}
.project-icon i, .project-icon svg {
    transition: color var(--transition-time-button) ease-in-out;
}

.project-icon svg {
    color: var(--color-main);
    width: 2em;
    height: 2em;
}

.project-icon:hover {
    background-color: var(--color-draw);
    border-color: var(--color-draw);
}

.project-icon:hover i, .project-icon:hover svg {
    color: var(--color-bg);
}