.project {
    display: flex;
    flex-direction: column;
    
    gap: var(--spacing-common);

    padding: var(--spacing-common);
    
    border: solid 1px var(--color-secondary);
    outline: solid 0px var(--color-draw);

    transition: box-shadow var(--transition-time),
    outline 0.1s,
    border-color 0.1s ease-in-out,
    background-color var(--transition-time) ease-in-out;
}

.project:hover {
    box-shadow: -8px 8px var(--color-draw);
    outline-width: 1px;
    border-color: var(--color-draw);
    background-color: var(--color-item-bg);
}

.project:hover .project-overlay {
    opacity: 1;
}

.project:hover .project-title {
    color: var(--color-draw);
}

.project:hover .project-description {
    color: var(--color-main);
}

.project-img-container {
    max-width: 700px;

    display: flex;
    align-items: center;

    position: relative;
}

.project-img {
    display: block;
    width: 100%;
    border: 1px solid var(--color-main)
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: .5rem;

    opacity: 0;
    background-color: var(--color-project-overlay);

    transition: opacity var(--transition-time);
}

.project-link {
    font-size: 2.5rem;
    padding: .5rem;
    color: var(--color-project-overlay-icon);
    border-radius: 4px;
    border: solid 2px transparent;
    transition: border-color var(--transition-time-button), color var(--transition-time-button);
    text-decoration: none;
}

.project-link:visited {
    color:var(--color-project-overlay-icon);
}

.project-link:hover {
    color: var(--color-project-overlay-icon);
    /* background-color: rgba(255,255,255); */
    border-color: var(--color-project-overlay-icon);
}

.project-description {
    color: var(--color-secondary);
}

.project-icons {
    flex: 1;
    margin-top: var(--spacing-common);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--spacing-common);
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .project, .project.reversed {
        flex-direction: column;
    }

    .project-text {
        width: auto;
    }
}