.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-common);
    margin-top: var(--spacing-large);
}

.more-to-come {
    display: flex;
    justify-content: center;
    align-items: center;

}

.more-to-come a {
    text-decoration: none;
}

.more-to-come a:hover {
    text-decoration: underline;
}