.hero-container {
    padding-top: calc(50vh - 220px);
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.hero {
    width: 800px;
    height: 400px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;

    justify-content: center;
    align-items: flex-end;

    gap: var(--spacing-common);


}

.hero > * {
    max-width: 500px;
    order: 2;
}

@keyframes appear-from-left {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-and-scale {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-from-above {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear-from-right {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
    }
}

.hero-img-container {
    position:relative;
    min-width: 256px;
    max-width: 256px;
    
    order: 9;

    opacity: 0;
    animation: appear-and-scale .3s .2s ease-in-out forwards;

}

.hero-img {
    display: block;
    width: 100%;

    transition: rotate var(--transition-time);
    backface-visibility: hidden;
    box-shadow: var(--shadow-sm);
}

.villain-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    transition: rotate var(--transition-time);
    backface-visibility: hidden;

    rotate: y -180deg;
    box-shadow: var(--shadow-sm);
}

.hero-img-container, .hero-img, .villain-img {
    border-radius: 4%;
}

.hero-img-container:hover .hero-img {
    rotate: y 180deg;
}

.hero-img-container:hover .villain-img {
    rotate: y 0deg;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-common);
}

.hero-title {
    font-size: 3.3rem;
    line-height: 1.2;
    opacity: 0;
    animation: appear-from-left .3s .2s ease-in-out forwards;
}

.wave-hand {
    display: inline-block;
    transform-origin: 65% 75%;
    cursor: default;
    animation: wave .9s ease-in-out infinite paused;
}

.hero-title:hover .wave-hand {
    animation-play-state: running;
}

@keyframes wave {
    50% {
        rotate: 30deg;
    }
}

.hero-info {
    margin-top: calc(0px - var(--spacing-low));
    /* padding-left: var(--spacing-common); */
    gap: var(--spacing-common);
    display:flex;
    align-items: center;
    color:var(--color-secondary);
    opacity: 0;
    animation: appear-from-left .3s .3s ease-in-out forwards; 
}

.hero-subtext {
    font-size: 1.1rem;
    color: var(--color-main);
    opacity: 0;
    animation: appear-from-left .3s .4s ease-in-out forwards;
}

.hero-detail::after {
    bottom: 0;
    height: 1.5px;
    background-color: var(--color-draw);
}

.hero-ctas {
    margin-top: var(--spacing-common);
    display: flex;
    gap: var(--spacing-common);
    flex-wrap: wrap;
    opacity: 0;
    animation: appear-from-left .3s .5s ease-in-out forwards;
}

.hero-cta {
    display: flex;
    align-items: center;
    height: 2em;
    font-size: 1.2rem;

    border-radius: 4px;
    padding-block: var(--spacing-low);
    padding-inline: var(--spacing-common);

    text-decoration: none;
    box-shadow: var(--shadow-sm);
}

.hero-cta .animated-underline::after {
    height: 1.5px;
}

.hero-cta.primary .animated-underline::after {
    background-color: var(--color-bg);
}

.hero-cta.secondary .animated-underline::after {
    background-color: var(--color-draw-shadow);
}

.hero-cta.primary {
    color: var(--color-bg);
    background-color: var(--color-draw-shadow);
    font-weight: bold;
    /* border: solid 1px var(--color-draw-shadow); */
}

.hero-cta.secondary {
    color: var(--color-draw-shadow);
    background-color: var(--color-bg-light-2);
    font-weight: 600;
    /* border: solid 1px; */
}

/* .dark .hero-cta.secondary {
    border-color: var(--color-draw-shadow);
} */



@media screen and (max-width: 1024px) {

    .hero-container {
        padding-top: 0;
        padding-bottom: 0;
        min-height: calc(100vh - var(--header-height));
    }

    .hero {
        flex-direction: column;
        padding: var(--spacing-common);
        gap: var(--spacing-common);
        width: auto;
        max-width: 400px;
        align-items: flex-end;
        justify-content: flex-end;

        height:auto;
    }
    
    .hero-img-container {
        min-width: 200px;
        width: 100%;
        max-width: 400px;
        order: 1;
    }

    .hero-title {
        order: 0;
        animation-delay: .1s;
    }


    .hero-img-container, .hero-title, .hero-info, .hero-subtext, .hero-ctas {
        animation-name: appear-from-left;
    }

    .hero-img-container {
        animation-delay: .3s;
    }

    .hero-ctas {
        width: 100%;
    }

    .hero-cta {
        flex-grow: 1;
        justify-content: center;
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 768px) {
    .hero-cta .animated-underline::after {
        display: none;
    }

    .hero-title {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-ctas {
        gap: var(--spacing-low);
        flex-direction: column;
    }

    .hero-cta {
        padding-block: 0;
    }
}