#header {
    height: var(--header-height);
    width: 100%;
    align-self: center;
    
    position: fixed;

    color: var(--color-main);
    background-color: var(--color-bg);
    transition: box-shadow calc(var(--transition-time) / 2),
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out;

    z-index: 10;

    opacity: 100%;
}

#header.scrolled {
    box-shadow: 0 0 2px;
    background-color: var(--color-header);
}

#header:hover nav {
    opacity: 100%;

    transition-delay: 0s;
    transition-duration: var(--transition-time);

}

#header nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--spacing-common);
    padding-inline: var(--spacing-common);

    transition: opacity 4s 1s;

    opacity: 50%;

}

#header nav .header-filler {
    flex-grow: 1;
}

#header nav a {
    display: block;
    /* 0.75 because line height is 1.5 */
    padding-block: calc(var(--header-height) / 2 - 1em * 0.75 + 1px);
    text-decoration: none;

}

#header nav a:hover:not(.resume-link):not(#dark-toggle) {
    transform: translateY(-3px);
    transition: transform var(--transition-time-button);
}

#header nav a:hover, #header nav a:hover i {
    font-weight: bold;
}

#header nav a.resume-link {
    padding-inline: var(--spacing-common);
    gap: var(--spacing-low);
}

#header nav a.resume-link i {
    display: inline;
    align-self: center;
}

#header nav a i {
    display: none;
}

#header nav #dark-toggle {
    width: calc(var(--header-height) - 6px);
    cursor: pointer;
}

#header nav #dark-toggle, #header nav a.resume-link {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(var(--header-height) - 6px);

    padding-block: 0;
    padding-inline: var(--spacing-low);
    border-radius: 4px;
    color: var(--color-bg);
    background-color: var(--color-draw-shadow);
}

#dark-toggle:active, .resume-link:active {
    transform: translateY(1px);
}

a, a:visited {
    color:inherit;
}


@media screen and (max-width: 800px) {

    #header {

        bottom: 0;
        order: 10;

        align-self: center;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
        border-top: solid 1px var(--color-secondary);
        border-right: solid 1px var(--color-secondary);
        
        background-color: rgba(31,31,31, 0.5);
    }

    #header nav {
        padding: 0;
        gap: 0;

    }

    #header nav a {
        display: flex;
        padding-block: 0;
        padding-inline: var(--spacing-common);
        justify-content: center;
        align-items: center;
    }

    #header nav a span {
        display: none;
    }

    #header nav a i {
        display:inherit;
        font-size: 1.5rem;
    }

    #header nav #dark-toggle {
        width: 1.5rem;
    }

    #header nav #dark-toggle, #header nav a.resume-link {
        margin-right: 4px;
    }
}