

@keyframes shrinkHeader {
    from {
        height:80px;
    }

    to {
        height:30px;
    }
}

#header {

    height: var(--header-height);
    width: fit-content;
    align-self: flex-end;
    
    position: fixed;

    backdrop-filter: blur(5px);
    color: var(--color-strong);
    background-color: var(--bg-color);
    transition: all var(--transition-time);
    
}

#header.light {
    color: var(--color-strong-light);
    background-color: var(--bg-color-light);
}

#header nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: var(--spacing-common);
    padding-inline: var(--spacing-common);

    border-bottom: solid 1px var(--color-easy);
    border-left: solid 1px var(--color-easy);
}

#header nav a {
    display: block;
    /* 0.75 because line height is 1.5 */
    padding-block: calc(var(--header-height) / 2 - 1em * 0.75 + 1px);
    text-decoration: none;

    transition: all var(--transition-time);
}

#header nav a:hover {
    transform: translateY(-3px);
    font-weight: 700;
}


a, a:visited {
    color:inherit;
}

@media screen and (min-width: 481px) {
}

@media screen and (max-width: 480px) {
}