


.contact-icon i {
    font-size: 1.5rem;
}

.contact-icon svg {
    max-width: 1.5em;
    max-height: 1.5em;
}

.contact-icon {
    display: flex;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--color-main);
    border-radius: 4px;

    transition: all var(--transition-time-button) ease-in-out;
}

.contact-icon span{
    color: var(--color-main);
    height: 1.5em;

    transition: all var(--transition-time-button) ease-in-out;
}

.contact-icon:hover {
    background-color: var(--color-draw);
    border-color: var(--color-draw);
    transform: scale(1.1);
}

.contact-icon:hover span {
    color: var(--color-bg);
}