.contact {
    padding-top: var(--spacing-large);
    border-top: solid 1px var(--color-secondary);

    gap: var(--spacing-common);
    max-width: 400px;
}

.contact h1 {
    line-height: 1;
}

.contact h3 {
    color: var(--color-secondary);
}

.contact-list {
    display: flex;
    justify-content: center;
    gap:var(--spacing-common);
    padding:0;
    flex-wrap: wrap;
}

.contact-item {
    list-style: none;
    color: var(--color-main);
}

.contact-item img {
    width: 30px;
}

.contact-container {
    text-align: center;
}

.contact-divider {
    content:"";
    width: var(--spacing-xlarge);
    margin:auto;
    height: 1px;
    background-color: var(--color-secondary);
}