.contact {
    padding-top: var(--spacing-large);
    border-top: solid 1px var(--color-easy);

    gap: var(--spacing-common);
}



.contact-list {
    display: flex;
    justify-content: center;
    gap:var(--spacing-common);
    padding:0;
}

.contact-item {
    list-style: none;
    color: var(--color-strong);
}

.contact-item img {
    width: 30px;
}

.contact-container {
    text-align: center;
}

.contact-divider {
    content:"";
    width: var(--spacing-xlarge);
    margin:auto;
    height: 1px;
    background-color: var(--color-easy);
}