


.contact-icon i {
    font-size: 1.5em;
}

.contact-icon svg {
    max-width: 1.5em;
    max-height: 1.5em;
}

.contact-icon {
    display: flex;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--color-strong);
    border-radius: 2px;

    transition: all var(--transition-time);
}

.contact-icon span{
    color: var(--color-strong);
    height: 1.5em;

    transition: all var(--transition-time);
}

.contact-icon:hover {
    background-color: var(--color-strong);
    transform: scale(1.1);
}

.contact-icon:hover span {
    color: var(--color-strong-light);
}