.skill-icon {
    flex-grow: 1;
    display: flex;
    width: auto;
    padding: var(--spacing-common);

    position: relative;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;

    border: solid 1px var(--color-main);
    color: var(--color-main);
    background-color: var(--color-item-bg);
}

.skill-icon:hover {
    border-color: var(--color-draw-shadow);
    background-color: var(--color-draw-shadow);
}

.skill-text {
    pointer-events: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skill-text i {
    font-size: 1.5em;
}

.skill-icon:hover .skill-text {
    color: var(--color-bg);
}
