.skill-popup {
    pointer-events: none;

    position:absolute;
    top: calc(100% + var(--spacing-low));
    left: -1px;

    width:max-content;
    max-width: 300px;
    height:fit-content;

    padding: var(--spacing-low);

    border: solid 1px var(--color-draw-shadow);
    /* border-radius: 3px; */
    background-color: var(--color-draw-shadow);
    color: var(--color-bg);

    line-height: normal;

    z-index: 2;
    opacity: 0%;

    transition: opacity var(--transition-time) ease-in-out;
}

.skill-icon:hover .skill-popup, .skill-icon:active .skill-popup {
    opacity: 100%;
}

.skill-popup span {
    font-size: 0.9rem;
}

.skill-popup.top {
    bottom: calc(100% + var(--spacing-low));
    top: auto;
}

.skill-popup.left {
    right: -1px;
    left: auto;
}

@media screen and (max-width: 600px) {
    .skill-popup {
        max-width: 250px;
    }
}