.about {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-xlarge);
}

.about-img-container {
    aspect-ratio: 1 / 1;
    flex: 2;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    position: relative;

}

.about-portrait {
    display: block;
    max-width: 100%;
    max-height: 100%;

    margin: auto;
    align-self: center;

    border-radius: 50%;
}

.about-portrait-description {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    color:transparent;
    transition: all var(--transition-time);
    
    border-radius: 50%;
}

.about-portrait-description:hover {
    background-color: rgba(31,31,31,0.7);
    color: var(--color-main);
}

.about-details {
    flex: 3;
    height: 100%;
}

.about-detail {
    border-radius: 10px;
    transition: background-color var(--transition-time), box-shadow var(--transition-time);
    padding: 8px;
    margin-bottom: 8px;
}

.about-detail:hover {
    background-color: var(--color-bg-light-2);
    /* box-shadow: var(--shadow-xs); */
}

.about-details h2 {
    font-style: italic;
    font-weight: normal;
    position:relative;

    color: var(--color-main);

    transition: color var(--transition-time);
}

.about-details h2 span {
    opacity: 0;
}

.about-detail:hover h2 span {
    animation: blink 1s var(--transition-time) step-start infinite;
}

.about-detail:hover h2 {
    color: var(--color-draw);
}

.about-details p {
    color: var(--color-secondary);
}

.about-details p a {
    text-decoration: none;
    font-weight: normal;
}

.about-details p a:hover {
    text-decoration: underline;
}

.about-details p em, .about-details p a {
    color: var(--color-main);
}



@keyframes blink {
    50% {
        opacity: 1;
    }
}

.about-details h2 + p {
    margin-top: var(--spacing-common);
}

@media screen and (min-width: 1025px) {
}

@media screen and (max-width: 800px) {
    .about-container {
        flex-direction: column;
        gap: var(--spacing-common);
    }

    .about-img-container {
        max-width: 100%;
        max-height: 100%;
        
    }
}