
.about-detail {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 700px;
    height: 150px;
}

@media screen and (min-width: 1001px) {
    .about-detail {
        justify-content: flex-end;
        padding: 10 40px;
    }
}

/* @media screen and (max-width: 1000px) {
    .about-detail {
        margin-inline: var(--spacing-large);
    }
} */

@media screen and (max-width: 600px) {
    .about-detail {
        margin-inline: var(--spacing-common);
    }
}

@media screen and (min-width: 481px) {

    .about-description {
        text-align-last: left;
    }

    .reversed .about-description {
        text-align-last: right;
    }

    .about-divider {
        width: 0;
        border-right: solid 1px white;
        height: 80%;
        margin: 0 40px;
    }

    .about-img {
        width: 100px;
    }

    .reversed {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 480px) {

    .about-detail {
        flex-direction: row ;
        padding: 10 40px;
        height: auto;
        width: auto;
        min-width: 200px;
        margin-block: var(--spacing-common);
    }

    .about-divider {
        display: none;
    }

    .about-img {
        width: 70px;
        float: left;
    }

    .about-description {
        margin-left: 20px;
    }
}





.about-description {
    text-align: justify;
}