.about {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xlarge);
}

.about-portrait {
    flex: 2;
    max-width: 400px;
    height: auto;

    border: solid 1px var(--bg-color);
}

.about-details {
    flex: 3;
    height: 100%;
}

.about-details h2 {
    font-style: italic;
    font-weight: normal;
    width:fit-content;
    position:relative;
}

.about-details h2 span {
    opacity: 0;
}

.about-details h2:hover span {
    animation: blink 1s var(--transition-time) step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.about-details h2 + p {
    margin-top: var(--spacing-common);
}

.about-details .main-heading {
    margin: auto;
}

@media screen and (max-width: 800px) {
    .about {
        flex-direction: column;
    }

    .about-portrait {
        max-width: 300px;
    }

    .about-details .main-heading {
        text-align: center;
    }
}