.about-detail {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    padding: 10 40px;
    height: 150px;
    width: 60%;
    min-width: 500px;
}

.about-divider {
    width: 0;
    border-right: solid 1px white;
    height: 90%;
    margin: 0 40px;
}

img {
    width: 100px;
    height: 100px;
}

.reversed {
    flex-direction: row-reverse;
}

.about-description {
    text-align: end;
    white-space: pre-wrap;
}

.reversed .about-description {
    text-align: start;
}