.skill-icon {
    display: flex;
    width: auto;
    height: 3em;
    padding: var(--spacing-common);

    position: relative;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    
    border: solid 1px var(--color-strong-light);
}

.skill-text {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skill-text i {
    font-size: 1.5em;
}

.skill-bg {
    height: 1em;
    width: 0;
    background-color: transparent;

    position: absolute;
    left:var(--spacing-common);
    bottom:var(--spacing-common);

    transition: all var(--transition-time);

    border-radius: 20px;
}

.skill-bg:not(.back) {
    backdrop-filter: invert(100%);
}

.skill-bg.back {
    width: calc(100% - 2 * var(--spacing-common));
    background-color: black;
    transform: translateX(2px) translateY(2px);
}

.skill-icon .skill-bg.level1 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.2);
}

.skill-icon .skill-bg.level2 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.4);
}

.skill-icon .skill-bg.level3 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.6);
}

.skill-icon .skill-bg.level4 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.8);
}

.skill-icon .skill-bg.level5 {
    width: calc((100% - 2 * var(--spacing-common)));
}

.skill-icon .inverter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all var(--transition-time);

    cursor: pointer;

    background-color: transparent;
}

.skill-icon .inverter:hover, .skill-icon .inverter:focus {
    backdrop-filter: invert(90%);
    transform: translateX(-5px) translateY(5px);
}