.skill-icon {
    display: flex;
    width: auto;
    height: 3em;
    padding: var(--spacing-common);

    position: relative;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;

    color: var(--color-main);

    z-index: 1;
}

.skill-text {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skill-text i {
    font-size: 1.5em;
}

.skill-bg {
    height: 1em;
    width: 0;
    background-color: transparent;

    position: absolute;
    left:var(--spacing-common);
    bottom:var(--spacing-common);

    transition: all var(--transition-time) ease-in-out;

    border-radius: 20px;
}

.skill-bg:not(.back) {
    background-color: var(--color-bg);
    transform: translateX(2px) translateY(-2px);
    height: calc(1em - 4px);
}

.skill-bg.back {
    width: calc(100% - 2 * var(--spacing-common));
    background-color: var(--color-main);
}

.skill-icon .skill-bg.level1 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.2);
}

.skill-icon .skill-bg.level2 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.4);
}

.skill-icon .skill-bg.level3 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.6);
}

.skill-icon .skill-bg.level4 {
    width: calc((100% - 2 * var(--spacing-common)) * 0.8);
}

.skill-icon .skill-bg.level5 {
    width: calc((100% - 2 * var(--spacing-common)));
}

.skill-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: solid 1px var(--color-main);
    transition: border-color var(--transition-time) ease-in;
}

.skill-icon .inverter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all var(--transition-time);

    pointer-events: none;
    z-index: -1;

    background-color: transparent;
}

.skill-icon:hover .skill-border {
    border-color: transparent;
    transition: none;
}

.skill-icon:hover .inverter, .skill-icon:focus .inverter {
    background-color: var(--color-draw-shadow);
}

.skill-icon:hover .skill-text {
    color: var(--color-bg);
}

.skill-icon:hover .skill-bg:not(.back) {
    background-color:var(--color-draw-shadow);
}

.skill-icon:hover .skill-bg.back {
    background-color:var(--color-bg);
}