.skill-popup {
    pointer-events: none;

    position:absolute;
    bottom: 30%;
    right:10%;

    width: 80%;

    padding: var(--spacing-low);

    border: solid 1px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    background-color: var(--color-invert);
    color: var(--color-main);

    line-height: normal;

    opacity: 0%;

    transition: all var(--transition-time);
}

.skill-icon:hover .skill-popup, .skill-icon:active .skill-popup {
    opacity: 100%;
    bottom: 75%;
    right: 5%;
}

.skill-popup span {
    font-size: 0.9rem;
}