.skills-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-common);

    margin-top: var(--spacing-large);
}


@media screen and (max-width: 480px) {
    .skills-list{
        grid-template-columns: 1fr;
    }
}