.contact {
    padding-top: var(--spacing-large);
    border-top: solid 1px var(--color-secondary);

    gap: var(--spacing-common);
    max-width: 400px;
}

.contact-title {
    font-weight: 400;
    font-size: 2.7rem;
    cursor: default;
}

.contact-title span {
    color: var(--color-draw);
}

.contact-mail {
    user-select: all;
}

.contact-list {
    display: flex;
    justify-content: center;
    gap:var(--spacing-common);
    padding:0;
    flex-wrap: wrap;
}

.contact-item {
    list-style: none;
    color: var(--color-main);
}

.contact-item img {
    width: 30px;
}

.contact-container {
    text-align: center;
}

.contact-divider {
    content:"";
    width: var(--spacing-xlarge);
    margin:auto;
    height: 1px;
    background-color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
    .contact-title {
        font-size: 2.2rem;
    }
}