.experience {
    padding: var(--spacing-large);
    border: solid 1px var(--color-strong-light);

    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing-common));

    /* have to transition the outline so it doesn't look weird */
    transition: box-shadow var(--transition-time), outline calc(var(--transition-time)/2);
}

.experience:hover {
    box-shadow: -10px 10px;
    outline: solid 2px;
}

.experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-title {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--color-strong-light);

    position: relative;
}

.experience-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1.3px;
    background-color: var(--color-strong-light);
    width: 0;
    right: 0;
    left:auto;
    transition: width var(--transition-time);
}

.experience:hover .experience-title::after {
    left: 0;
    right: auto;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .experience-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 617px) {
    .experience:hover .experience-title::after {
        width: 0;
    }
}

@media screen and (max-width: 480px) {
    .experience {
        padding: var(--spacing-common);
        border-width: 2px;
    }

    .experience:hover {
        box-shadow: none;
        outline: none;
    }
}