.experiences-vertical-container {

    margin-top: var(--spacing-large);

    display: flex;
    flex-direction: row;

    gap: calc(var(--spacing-large));

    width: 100%;

}

.experiences-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-common);
}

.experiences-visual-timeline {
    position: relative;
    border-right: solid 2px var(--color-main) ;
    height: 100%;

    
    display: none;
}

.experiences-current-time {
    position: absolute;
    width: 1em;
    aspect-ratio: 1 / 1;

    top: 0;
    left: 1px;

    transform: translate(-50%, -100%);

    border-radius: 50%;
    border: solid 2px var(--color-main);

    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 480px) {
    .experiences-vertical-container{
        gap: calc(var(--spacing-common));
    }
}