.experience {
    padding: var(--spacing-large);
    border: solid 1px var(--color-main);

    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing-common));

    outline: solid 0px var(--color-draw);
    background-color: var(--color-item-bg);

    /* have to transition the outline so it doesn't look weird */
    transition: box-shadow var(--transition-time),
    outline 0.1s,
    border-color 0.1s ease-in-out,
    background-color var(--transition-time) ease-in-out;
}

.experience:hover {
    box-shadow: -10px 10px var(--color-draw);
    outline-width: 2px;
    border-color: var(--color-draw);
}

.experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-title {
    font-size: 1.1rem;
    font-weight: bold;

    position: relative;
}

.experience-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--color-draw);
    width: 0;
    right: 0;
    left:auto;
    transition: width var(--transition-time);
}

.experience:hover .experience-title::after {
    left: 0;
    right: auto;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .experience-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 617px) {
    .experience:hover .experience-title::after {
        width: 0;
    }
}

@media screen and (max-width: 480px) {
    .experience {
        padding: var(--spacing-common);
        border-width: 2px;
    }

    .experience:hover {
        box-shadow: -8px 8px var(--color-draw);
        outline: none;
    }
}