#header {
    height: var(--header-height);
    width: 100%;
    align-self: center;
    
    position: sticky;
    top:0;

    font-family: "Roboto Mono", monospace;
    color: var(--color-main);
    background-color: var(--color-bg);
    transition: box-shadow calc(var(--transition-time) / 2),
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out,
    border-color var(--transition-time) ease-in-out;

    z-index: 10;

    opacity: 0;

    animation: appear .5s .6s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header.scrolled {
    box-shadow: 0 0 2px;
    /* background-color: var(--color-header); */
}

#header nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-common);
    padding-inline: var(--spacing-common);

    position: relative;
}



#header nav .nav-center {
    display: flex;
    gap: var(--spacing-common);
}

#header-title {
    position: absolute;
    left: var(--spacing-common);
}

#header-contact, #header-contact:visited {
    font-weight: bold;
    font-size: 1.05rem;
    color: var(--color-draw);
    transition: color var(--transition-time) ease-in-out;
}


#header nav .header-buttons {
    position: absolute;
    right: var(--spacing-common);
    align-self: center;

    display: flex;
    gap: var(--spacing-low);
}

#header nav a {
    display: block;
    /* 0.75 because line height is 1.5 */
    padding-block: calc(var(--header-height) / 2 - 1em * 0.75 + 1px);
    text-decoration: none;

}

#header nav a:hover:not(.resume-link):not(#dark-toggle):not(#language-toggle) {
    transform: translateY(-3px);
    transition: transform var(--transition-time-button);
}

#header nav a:hover, #header nav a:hover i {
    font-weight: bold;
}

#header nav a.resume-link {
    padding-inline: var(--spacing-common);
    gap: var(--spacing-low);
}

#header nav a.resume-link i {
    display: inline;
    align-self: center;
}

#header nav a i {
    display: none;
}

#dark-toggle, #language-toggle {
    width: calc(var(--header-height) - 8px);
    cursor: pointer;
}

#dark-toggle {
    color: var(--color-bg);
    background-color: var(--color-draw-shadow);
    border: solid 1px var(--color-draw-shadow);
}

#language-toggle {
    border: solid 1px var(--color-main);
}

@font-face {
    font-family: "Twemoji Country Flags";
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
    src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2') format('woff2');
}

#language-toggle::before {
    font-family: "Twemoji Country Flags", sans-serif;
    line-height: 1;
    font-size: 1.5rem;
}

#language-toggle.en::before {
    content:'🇬🇧';
}

#language-toggle.fr::before {
    content:'🇫🇷';
}

a.resume-link, #language-toggle {
    background-color: var(--color-item-bg);
    border: solid 1px var(--color-main);
}

#header nav #dark-toggle, #header nav a.resume-link, #header nav #language-toggle {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(var(--header-height) - 14px);

    padding-block: 0;
    padding-inline: var(--spacing-low);
    border-radius: 4px;
}

.resume-link:not(:active),
#language-toggle:not(:active) {
    box-shadow: -2px 3px;
}

#dark-toggle:not(:active) {
    box-shadow: -2px 3px var(--color-darkmode-button-shadow);
}

#dark-toggle:active, .resume-link:active, #language-toggle:active {
    transform: translate(-2px, 3px);
}

a, a:visited {
    color: var(--color-main);
}


@media screen and (max-width: 1024px) {

    #header {
        /* background-color: var(--color-header); */

        position: static;

        top: 0;
        right: 0;
        width: clamp(32px, 10vw,var(--header-height));
        height: 100vh;
        height: 100dvh;

        border-left: solid 1px var(--color-main);
    }

    #header.scrolled {
        box-shadow: none;
    }

    #header nav {
        /* padding: 0;
        gap: 0; */
        flex-direction: column;
        justify-content: space-around;
    }

    #header nav #header-title {
        position: initial;
    }

    #header nav .nav-center {
        opacity: 1;
        flex-direction: column;
    }

    #header nav .header-buttons {
        position:initial;
        flex-direction: column;
    }

    #header nav a {
        display: flex;
        padding-block: 0;
        /* padding-inline: var(--spacing-common); */
        justify-content: center;
        align-items: center;
    }

    #header nav a:hover:not(.resume-link):not(#dark-toggle):not(#language-toggle) {
        transform: none;
    }

    #header nav a span {
        display: none;
    }

    #header nav a i {
        display:inherit;
        font-size: 1.5rem;
    }

    #header nav a:hover, #header nav a:hover i {
        font-weight: normal;
    }

    #header nav #dark-toggle, #header nav a.resume-link, #header nav #language-toggle {
        padding: auto;
        width: auto;
        border: none;
        box-shadow: none;
        font-size: 1.5rem;
    }

    #dark-toggle:active, .resume-link:active, #language-toggle:active {
        transform: none;
    }

    #header nav #dark-toggle {
        padding: 2px;
        border-radius: 20%;
    }
}