#header {
    height: var(--header-height);
    width: 100%;
    align-self: center;
    
    position: sticky;
    top:0;

    font-family: "Roboto Mono", monospace;
    color: var(--color-main);
    background-color: var(--color-bg);
    /* border-bottom: solid 1px var(--color-secondary); */
    box-shadow: var(--shadow-md);

    transition:
    /* box-shadow calc(var(--transition-time) / 2), */
    color var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out,
    border-color var(--transition-time) ease-in-out;

    z-index: 10;

    opacity: 0;

    animation: appear .5s .6s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header.scrolled {
    /* border-color: var(--color-secondary); */
    /* box-shadow: 0 0 2px; */
    /* background-color: var(--color-header); */
}

#header nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-common);
    padding-inline: var(--spacing-common);

    position: relative;
}



#header nav .nav-center {
    display: flex;
    gap: calc(var(--spacing-common) + var(--spacing-low));
}

#header-title {
    position: absolute;
    left: var(--spacing-common);
}

#header-contact, #header-contact:visited {
    font-weight: bold;
    font-size: 1.05rem;
    color: var(--color-draw);
    transition: color var(--transition-time) ease-in-out;
}


#header nav .header-buttons {
    position: absolute;
    right: var(--spacing-common);
    align-self: center;

    display: flex;
    gap: var(--spacing-low);
}

#header nav a {
    display: block;
    /* 0.75 because line height is 1.5 */
    padding-block: calc(var(--header-height) / 2 - 1em * 0.75 + 1px);
    text-decoration: none;

}

#header nav a:hover:not(.resume-link):not(#dark-toggle):not(#language-toggle) {
    transform: translateY(-3px);
    transition: transform var(--transition-time-button);
}

#header nav a:hover, #header nav a:hover i {
    font-weight: bold;
}

#header nav a.resume-link {
    padding-inline: var(--spacing-common);
    gap: var(--spacing-low);
}

#header nav a.resume-link i {
    display: inline;
    align-self: center;
}

#header nav a i {
    display: none;
}

#dark-toggle, #language-toggle {
    width: calc(var(--header-height) - 8px);
    cursor: pointer;
}

#dark-toggle {
    color: var(--color-darkmode-button-shadow);
    background-color: var(--color-draw-shadow);
    border: solid 1px var(--color-draw-shadow);
    box-shadow: 0 0 var(--color-darkmode-button-shadow);
}

#dark-toggle::before {
    color: var(--color-bg);
    transition: color var(--transition-time) ease-in-out;
}

#language-toggle {
    border: solid 1px var(--color-main);
}

a.resume-link, #language-toggle {
    background-color: var(--color-item-bg);
    border: solid 1px var(--color-main);
}

#header nav #dark-toggle, #header nav a.resume-link, #header nav #language-toggle {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(var(--header-height) - 14px);

    padding-block: 0;
    padding-inline: var(--spacing-low);
    border-radius: 4px;
}

.resume-link:not(:active),
#language-toggle:not(:active) {
    box-shadow: -2px 3px;
}

#dark-toggle:not(:active) {
    box-shadow: -2px 3px;
}

#dark-toggle:active, .resume-link:active, #language-toggle:active {
    transform: translate(-2px, 3px);
}

a, a:visited {
    color: var(--color-main);
}


@media screen and (max-width: 1024px) {

    #header {
        flex-shrink: 0;
        position: sticky;
        top: auto;
        bottom: 0;
        border-top: solid 1px var(--color-main);
    }

    #header.scrolled {
        box-shadow: none;
    }

    #header nav {
        /* padding: 0;
        gap: 0; */
        /* flex-direction: column; */
        justify-content: center;
    }

    #header nav #header-title {
        position: initial;
    }

    #header nav .nav-center {
        opacity: 1;
        gap: var(--spacing-common);
    }

    #header nav .header-buttons {
        position:initial;
        /* flex-direction: column; */
        gap: var(--spacing-common);
    }

    #header nav a {
        display: flex;
        padding-block: 0;
        /* padding-inline: var(--spacing-common); */
        justify-content: center;
        align-items: center;
    }

    #header nav a:hover:not(.resume-link):not(#dark-toggle):not(#language-toggle) {
        transform: none;
    }

    #header nav a span {
        display: none;
    }

    #header nav a i {
        display:inherit;
        font-size: 1.5rem;
    }

    #header nav a:hover, #header nav a:hover i {
        font-weight: normal;
    }

    #header nav #dark-toggle, #header nav a.resume-link, #header nav #language-toggle {
        padding: 0;
        width: auto;
        border: none;
        box-shadow: none;
        font-size: 1.5rem;
    }

    #header nav a.resume-link, #header nav #language-toggle {
        background-color: transparent;
    }

    #dark-toggle:active, .resume-link:active, #language-toggle:active {
        transform: none;
    }

    #header nav #dark-toggle {
        padding: 2px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 370px) {
    #header nav a i {
        font-size: 1.2rem;
    }
}