.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
    margin-inline: var(--spacing-large);
    flex:1;

    padding-top: var(--spacing-large);
}

footer {
    border-top: solid 1px var(--color-secondary);
    margin-inline: var(--spacing-common);
    padding-block: var(--spacing-low);

}

@media screen and (max-width: 800px) {

    /* without this the header and footer borders are aligned */
    footer {
        padding-block: calc(var(--spacing-low) + 2px);
    }
}

h1 {
    color: var(--color-main);
    font-size: 2.9rem;
}

.section-title span {
    font-weight: 700;
}

.section-title {
    width: fit-content;
    align-self: center;
    font-weight: 400;
    cursor: default;
}

.section-title:hover span {
    color: var(--color-draw);
}

.section-title::before {
    position:absolute;
    right: calc(100% + var(--spacing-large));
    top: 35%;
    height: 40%;
    width: var(--spacing-xlarge);
    border-radius: 8px;
    background-color: var(--color-main);
    pointer-events: none;
    transition: background-color var(--transition-time);
}

.animated-underline {
    position:relative;
}

.animated-underline::after {
    content: "";
    position: absolute;
    bottom: 4px;
    height: 2px;
    background-color: var(--color-draw);
    width: 0;
    right: 0;
    left:auto;
    transition: width var(--transition-time) ease;
}

.animated-underline:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

h3 {
    font-weight: normal;
}

section {
    padding-bottom: var(--spacing-large);
    display: flex;
    justify-content: center;
}

p span {
    font-weight: 700;
}

strong {
    font-style: normal;
    color: var(--color-draw)
}

@media screen and (max-width: 480px) {
    .section-container {
        margin-inline: var(--spacing-common);
    }

    .section-title::before {
        right: calc(100% + 2 * var(--spacing-common));
    }
}

g, path {
    transition: inherit;
}