.section-container {
    /* margin-block: var(--spacing-common); */
    padding-block: var(--spacing-xlarge);

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1600px;
    margin-inline: var(--spacing-large);
    flex:1;
}

footer {
    border-top: solid 1px var(--color-easy);
    margin-inline: var(--spacing-common);
    padding-block: var(--spacing-low);

}

@media screen and (max-width: 800px) {

    /* without this the header and footer borders are aligned */
    footer {
        padding-block: calc(var(--spacing-low) + 2px);
    }
}

h1 {
    color: var(--color-strong);
    font-size: 2.5em;
}

.main-heading {
    font-weight: 400;
}

.main-heading span {
    font-weight: 700;
}

.section-title {
    width: fit-content;
    position: relative;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: 4px;
    height: 2px;
    background-color: var(--color-strong);
    width: 0;
    right: -10%;
    left:auto;
    transition: width var(--transition-time) ease;
}

.section-title:hover::after {
    width: 120%;
    left: -10%;
    right: auto;
}

.light .section-title::after {
    background-color: var(--color-strong-light);
}

h3 {
    font-weight: normal;
}

section {
    padding-top: 1px;
    display: flex;
    justify-content: center;
}


.light {
    background-color: var(--bg-color-light);
    color: var(--color-strong-light)
}

.light h1 {
    color: var(--color-strong-light);
}

.light h3 {
    color: var(--color-strong-light);
}

p span {
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .section-container {
        margin-inline: var(--spacing-common);
    }
}
