.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
    margin-inline: var(--spacing-large);
    flex:1;

    padding-top: var(--spacing-large);

    pointer-events: none;
    opacity: 0;
    animation: appear;
    animation-timeline: --content-scroller;
    animation-range: 50px 300px;
}

#header.scrolled + .content .section-container {
    pointer-events: initial;
    opacity: 1;
}

footer {
    border-top: solid 1px var(--color-secondary);
    margin-inline: var(--spacing-common);
    padding-block: var(--spacing-low);

}

.section-title {
    width: fit-content;
    align-self: center;
    font-weight: 400;
    font-size: 2.7rem;
    cursor: default;
}

.section-title span {
    color: var(--color-draw);
}

.section-title::before {
    position:absolute;
    right: calc(100% + var(--spacing-large));
    top: 35%;
    height: 40%;
    width: var(--spacing-xlarge);
    border-radius: 8px;
    background-color: var(--color-main);
    pointer-events: none;
    transition: background-color var(--transition-time);
}

.scroll-dummy {
    position: absolute;
    height: 120px;
}

.animated-underline {
    position:relative;
}

.animated-underline::after {
    content: "";
    position: absolute;
    bottom: 2px;
    height: 2px;
    background-color: var(--color-draw);
    width: 0;
    right: 0;
    left:auto;
    transition: width var(--transition-time) ease;
}

.animated-underline:hover::after, .hero-cta:hover .animated-underline::after {
    width: 100%;
    left: 0;
    right: auto;
}

h3 {
    font-weight: normal;
}

section {
    padding-bottom: var(--spacing-xlarge);
    display: flex;
    justify-content: center;

    
}

.hidden {
    opacity: 0;
}

.shown {
    animation: appear-from-below .15s linear;
}

@keyframes appear-from-below {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
    }
}

p span {
    font-weight: 700;
}

strong {
    font-style: normal;
    color: var(--color-draw)
}

h2 {
    font-size: 1.5rem;
}

g, path {
    transition: inherit;
}

.content-wrapper {
    display: flex;
    flex-direction: column;

    height: 100vh;
    height: 100dvh;
    overflow: auto;
}

.content {
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    scroll-timeline-name: --content-scroller;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-thin {
    background-color: var(--color-bg-light-1);
    max-width: calc(800px + 2 * var(--spacing-large));
    /* border-inline: solid 1px var(--color-secondary); */
    box-shadow: var(--shadow-md);
}

.no-linebreak {
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {

    .section-container {
        margin-inline: var(--spacing-common);
    }

    .section-title {
        font-size: 2.2rem;
    }

    .section-title::before {
        right: calc(100% + 2 * var(--spacing-common));
    }

    /* without this the header and footer borders are aligned */
    footer {
        padding-block: calc(var(--spacing-low) + 2px);
    }

    h2 {
        font-size: 1.4rem;
    }
}