@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
	margin: 0;
	background-color: rgb(31,31,31);
	color: var(--color-strong);

	font-family: "Rubik", sans-serif;
}

	/* variables */
html {
	--header-height: 40px;
	--spacing-xlow: 0.2rem;
	--spacing-low: 0.5rem;
	--spacing-large: 2.5rem;
	--spacing-xlarge: 3.5rem;

	--color-strong: white;
	--color-easy: #B4B4B4;
}

:root {
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;
}