@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-main);

	font-family: "Space Grotesk", sans-serif;

	line-height: 1.5;
}

	/* variables */
html {

	--header-height: 40px;
	--spacing-xlow: 0.2rem;
	--spacing-low: 0.5rem;
	--spacing-common: 1rem;
	--spacing-large: 2.5rem;
	--spacing-xlarge: 3.5rem;

	--transition-time: 0.3s;
}

html.dark {

	--color-main: white;
	--color-secondary: rgb(197,197,197);
	--color-bg: rgb(31,31,31);
	--color-invert: rgb(31,31,31);

}

html:not(.dark) {

	--color-main: rgb(31,31,31);
	--color-secondary: rgb(31,31,31);
	--color-bg: white;
	--color-invert: white;

}

* {
	margin: 0;
	padding: 0;
}

:root {
    scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
}

#root {
	display: flex;
	flex-direction: column;
}

* {
	transition: background-color var(--transition-time) ease-in-out,
	color var(--transition-time) ease-in-out,
	border-color var(--transition-time) ease-in-out;
}