@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet');

body {
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-main);

	font-family: "Space Grotesk", sans-serif;

	line-height: 1.5;
}

	/* variables */
html {

	--header-height: 40px;
	--spacing-xlow: 0.2rem;
	--spacing-low: 0.5rem;
	--spacing-common: 1rem;
	--spacing-medium: 1.5rem;
	--spacing-large: 2.5rem;
	--spacing-xlarge: 3.5rem;

	--transition-time: 0.2s;
	--transition-time-button: calc(var(--transition-time));

    --shadow-xs: 0 0 2px black;
    --shadow-sm: 0 0 4px black;
    --shadow-md: 0 0 6px black;
    --shadow-lg: 0 0 10px black;

    --shadow-xs-inset: inset 0 0 2px black;
    --shadow-sm-inset: inset 0 0 4px black;
    --shadow-md-inset: inset 0 0 6px black;

	--color-project-overlay: rgba(255,255,255,0.5);
	--color-project-overlay-icon: black;
}

html.dark {

	--color-main: white;
	--color-secondary: rgb(197,197,197);
	--color-bg: oklch(0.2 0.032 191.35);
	--color-bg-light-1: oklch(0.25 0.032 191.35);
	--color-bg-light-2: oklch(0.35 0.032 191.35);
	--color-bg-header: oklch(0.3 0.032 191.35);

	--color-draw: #88F7E6;
	--color-draw-light: white;
	--color-draw-shadow: var(--color-main);
	--color-item-bg: #032221;
	--color-item-bg: var(--color-bg-light-2);

	--color-darkmode-button-shadow: rgb(170,170,170);

	--color-project-overlay: rgba(255,255,255,0.5);
	--color-project-overlay-icon: white;

}

html:not(.dark) {

	--color-main: rgb(38,52,46);
	--color-secondary: rgb(31,31,31);
	--color-bg: oklch(0.85 0.0233 176.85);
	--color-bg-light-1: oklch(0.95 0.0233 176.85);
	--color-bg-light-2: white;
	--color-bg-header: oklch(0.99 0.0233 176.85);

	--color-draw: rgb(10, 120, 90);
	--color-draw-light: white;
	--color-draw-shadow: var(--color-draw);
	--color-item-bg: var(--color-bg-light-2);
	
	--color-darkmode-button-shadow: rgb(120,200,160);

}

* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 480px) {
}

#root {
	display: flex;
	flex-direction: column;
}

body, .content *, #header a {
	transition: background-color var(--transition-time) ease-in-out,
	color var(--transition-time) ease-in-out,
	border-color var(--transition-time) ease-in-out;
}

.no-transition * {
	transition: none !important;
}