@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet');

body {
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-main);

	font-family: "Space Grotesk", sans-serif;

	line-height: 1.5;
}

	/* variables */
html {

	--header-height: 40px;
	--spacing-xlow: 0.2rem;
	--spacing-low: 0.5rem;
	--spacing-common: 1rem;
	--spacing-large: 2.5rem;
	--spacing-xlarge: 3.5rem;

	--transition-time: 0.3s;
	--transition-time-button: calc(var(--transition-time) / 2);
}

html.dark {

	--color-main: white;
	--color-secondary: rgb(197,197,197);
	--color-bg: rgb(31,31,31);

	--color-draw: rgb(18, 173, 90);
	--color-draw-light: white;
	--color-draw-shadow: var(--color-main);
	--color-item-bg: rgb(23,23,23);

	--color-header: var(--color-item-bg);

	--color-darkmode-button-shadow: rgb(170,170,170);

}

html:not(.dark) {

	--color-main: rgb(38,52,46);
	--color-secondary: rgb(31,31,31);
	--color-bg: rgb(230,251,245);

	--color-draw: rgb(10, 120, 90);
	--color-draw-light: white;
	--color-draw-shadow: var(--color-draw);
	--color-item-bg: rgb(248,252,251);
	
	--color-header: var(--color-item-bg);
	
	--color-darkmode-button-shadow: rgb(120,200,160);

}

* {
	margin: 0;
	padding: 0;
}

:root {
    scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
}

#root {
	display: flex;
	flex-direction: column;
}

* {
	transition: background-color var(--transition-time) ease-in-out,
	color var(--transition-time) ease-in-out,
	border-color var(--transition-time) ease-in-out;
}

.no-transition * {
	transition: none !important;
}