.project-icon {
    display: flex;
    width: 3em;
    height: 3em;

    justify-content: center;
    align-items: center;

    border: solid 1px var(--color-secondary);
    transition: all var(--transition-time) ease-in-out;
}

.project-icon i {
    color: var(--color-main);
    font-size: 2rem;
}
.project-icon i, .project-icon svg {
    transition: all var(--transition-time) ease-in-out;
}

.project-icon svg {
    color: var(--color-main);
    width: 2em;
    height: 2em;
}

.project-icon:hover {
    background-color: var(--color-main);
}

.project-icon:hover i, .project-icon:hover svg {
    color: var(--color-invert);
}