.project-icon {
    display: flex;
    width: 3em;
    height: 3em;

    justify-content: center;
    align-items: center;

    border: solid 1px var(--color-easy);
    transition: all var(--transition-time);
}

.project-icon i {
    color: var(--color-strong);
    font-size: 2em;
    
    transition: all var(--transition-time);
}

.project-icon:hover {
    background-color: var(--color-strong);
}

.project-icon:hover i {
    color: var(--color-strong-light);
}