.project {
    display: flex;
    flex-direction: row;
    
    gap: var(--spacing-large);

    padding: var(--spacing-common);
    margin-top: var(--spacing-common);
    
    border: solid 1px var(--color-easy)
}

.project:first-child {
    margin-top: var(--spacing-xlarge);
}

.project.reversed {
    flex-direction: row-reverse;
}

.project-img-container {
    flex: 1;
    max-width: 700px;

    display: flex;
    align-items: center;
}

.project-text {
    flex: 1;
}

.project-text h2 {
    color: var(--color-strong)
}

.project-img {
    display: block;
    width: 100%;
    border: 1px solid var(--color-strong)
}

.project-description {
    margin-top: var(--spacing-common);
}

.project-icons {
    margin-top: var(--spacing-common);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-common);
}

@media screen and (max-width: 800px) {
    .project, .project.reversed {
        flex-direction: column;
    }

    .project-text {
        width: auto;
    }
}